
:root {
--numcols: 4.0;
--font-size: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 11in;
  height: 8.5in;
  border: 1px solid black;
  font-size: 8px;
  padding: 0;
  display: flex;
flex-direction: column;
justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;

}

h1{
    font-size: calc(var(--font-size) * 1.5);
    font-weight: bold;
    font-family: "JetBrains Mono" , monospace;
    font-kerning: auto;
    letter-spacing: -0.5px;
    font-variant-ligatures: contextual;
    margin: 0;
    padding: 0;
    height: min-content;
}

h2 {
    font-size: var(--font-size);
    font-weight: bold;
    font-family: "JetBrains Mono" , monospace;
    font-kerning: auto;
    letter-spacing: -0.5px;
    font-variant-ligatures: contextual;
    margin: 0;
    padding: 0;
}

.topic-card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
  height: min-content;
    width: calc(11in / var(--numcols));

}

.twoCol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

strong {
    font-size: var(--font-size);
    font-kerning: auto;
    font-weight: bold;
    letter-spacing: -0.7px;
    font-variant-ligatures: contextual;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", serif;
}

h4{
    font-size: var(--font-size);
    font-weight: bold;
    font-family: "JetBrains Mono" , monospace;
    font-kerning: auto;
    letter-spacing: -0.5px;
    font-variant-ligatures: contextual;
    margin: 0;
    padding: 0;
}

caption {
    font-size: var(--font-size);
    font-weight: normal;
    font-kerning: auto;
    letter-spacing: -0.7px;
    font-variant-ligatures: contextual;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", serif;
}

body > * {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

code {
  display: inline;
  font-family: "JetBrains Mono" , monospace;
  font-size: calc(var(--font-size) - 2px);
  font-weight: normal;
  font-kerning: auto;
  letter-spacing: -0.5px;
  font-variant-ligatures: contextual;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
    font-size: var(--font-size);
}
li {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    text-align: left;
    font-size: var(--font-size);
}

div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.pair {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-kerning: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


pre {
  margin: 0;
    padding: 0;
}

.slimmerBoiColumn > .topic-card{
    width: calc(11in / var(--numcols) * 0.6);
}

.slimBoiColumn > .topic-card{
    width: calc(11in / var(--numcols) * 0.9);
}